/*
[0]GENERAL
[1]CREATEACCOUNT
[2]RESULTS
*/


/*[0]GENERAL*/
body{
	font-size: 14px;
}
/*[1]CREATEACCOUNT*/
h1{
	text-align: center;
}
input[type='radio']{
	margin-right: 0.5em;
}
/*[2]RESULTS*/
#results{
	padding: 5%;
}