/*
[0]GENERAL
[1]CREATEACCOUNT
[2]RESULTS
*/


/*[0]GENERAL*/
body{
	font-size: 14px;
}
/*[1]CREATEACCOUNT*/
h1{
	text-align: center;
}
label{
	padding-right: 15px;
}
#createAccount{
	max-width: 600px;
	margin: 0 auto;
}
/*[2]RESULTS*/
#results{
	padding: 5%;
}
#results{
	max-width: 600px;
	margin: 0 auto;
}
.hide{
	display: none;
}