/*
[0]GENERAL
[1]CREATEACCOUNT
[2]RESULTS
*/


/*[0]GENERAL*/
body{
	font-size: 14px;
}
/*[1]CREATEACCOUNT*/
h1{
	text-align: center;
}
label{
	padding-right: 15px;
}
input[type='text']{
	margin-bottom: 5px;
}
#createAccount{
	max-width: 600px;
	margin: 0 auto;
}
input:focus{
	background-color: #f1f1f1;
}
input:hover{
	background-color: #f1f1f1;
}
#createAccount button{
	border:none;
	display: block;
	width: 50%;
	margin: 0 auto;
}
#createAccount button:hover{
	border:none;
	background-color: #f1f1f1;
}
#signIn{
	background-color: #f1f1f1;
	text-align: center;
	padding: 1%;
	margin-top: 1%;
}
/*[2]RESULTS*/
#results{
	max-width: 600px;
	margin: 0 auto;
	padding: 5%;
}
.hide{
	display: none;
}
.wrong{
	border: dashed 1px red;
}
.correct{
	border: 1px black solid;
}
.petImg{
	width: 50%;
	max-width: 200px;
}
