/*
[0]GENERAL
[1]CREATEACCOUNT
[2]RESULTS
[3]MEDIA QUERIES
*/

/*[0]GENERAL*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
p,
#character,
#personality{
	font-size: 16px;
	font-family: 'Srisakdi', cursive;
	font-weight: bold;
}
a{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
h3,
h4{
	text-align: center;
}
/*[1]CREATEACCOUNT*/
#puppy{
	width:150px;
	position: relative;
	top:-150px;
	left:-40px;
	margin-bottom: -135px;
}
label{
	padding-right: 15px;
}
input[type='text'],
input[type='tel'],
input[type='email']{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
#createAccount{
	max-width: 600px;
	margin: 0 auto;
}
input:focus{
	background-color: #f1f1f1;
}
input:hover{
	background-color: #f1f1f1;
}
#createAccount button{
	border:none;
	display: block;
	width: 50%;
	margin: 0 auto;
}
#createAccount button:hover{
	border:none;
	background-color: #f1f1f1;
}
#signIn{
	background-color: #f1f1f1;
	text-align: center;
	padding: 1%;
	margin-top: 1%;
}
/*[2]RESULTS*/
#results{
	max-width: 600px;
	margin: 0 auto;
	padding: 5%;
}
#results p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.hide{
	display: none;
}
.wrong{
	border: dashed 1px red;
}
.correct{
	border: initial;
}
.petImg{
	text-align: center;
	max-width: 500px;
}
/*[3]MEDIA QUERIES*/
@media only screen and (max-width: 635px) {
	#createAccount,
	#results{
		width: 90%;
	}
}
@media only screen and (max-width: 560px) {
	h3{
	font-size: 18px;
	}
	h4{
		font-size: 16px;
	}
	label,
	p,
	input::placeholder,
	#character,
	#personality{
		font-size: 14px;
	}
}
@media only screen and (max-width: 500px) {
	h3, 
	h4{
		text-align: right;
		padding-right: 5%;
	}
	#puppy{
		left: -25px;
	}
}
@media only screen and (max-width: 460px) {
	h3{
		font-size: 16px;
	}
	h4{
		font-size: 14px;
	}
	label,
	p,
	#character,
	#personality,
	input::placeholder{
	font-size:  12px;
	font-family: 'Roboto', sans-serif;
	}